/* Main index title. */
.learn-more{
  background-color: #f7f7f7;
  border-top: 1px solid #dbdbdb
}

.picture-and-about{
  
}

.test-nav{
	background-color: #1e4b77;
	border-color: #e7e7e7;
}
.homepage-picture {
	background: url(../img/seaslogo2.png);
	max-width: 100%;
	max-height: 100%;
}
.resume_style{
	height:100%;
	width:100%;
}
.homepage-picture2 {
	background: url(../img/home_bg.png);
	background-position: top right;
	background-size: 100%;
}
.social-news-title h1 {
	color: #d9d9d9;
}
.social-news-title h1 small {
	color: inherit;
}
